# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/src/generated/prisma
prisma/dev.db
prisma/*.db

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Optional: test output or coverage
coverage/
